h3 {
  color: rgb(141, 141, 17);
  font-style: italic;
  text-align: center;
}
.skill-hearder {
  text-align: left;
}
.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  margin-bottom: 8px;
}
img {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
